[core]
	excludesfile = /Users/naethiel/.gitignore_global
	editor = vim
	pager = delta
[user]
	name = Nicolas Missika
	email = nmissika@synthesio.com
[alias]
	tree = log --oneline --graph --pretty=format:'%C(red)%h %Creset%s %C(blue)%an %C(green)%ci %C(yellow)%d %Creset'
	alias = aliases config --get-regexp alias
	please = push --force-with-lease
	fap = fetch --all -p
	st = status
	cm = commit -m
	l = log -20 --pretty=format:'%C(magenta)%h%Creset - %<(24)%C(cyan)%an%Creset %C(dim red)%ar%Creset : %s' --no-merges
	lc = log -20 --pretty=format:'%C(magenta)%h%Creset - %<(24)%C(cyan)%an%Creset %C(dim red)%ar%Creset : %s'
	lb = branch -a

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[diff]
    colorMoved = default
