[core]
	excludesfile = /home/naethiel/.gitignore_global
	editor = hx
	pager = delta
	fsMonitor = true
	autocrlf = input
[user]
	name = Nicolas Missika
	email = nicolas.missika@aive.com
[alias]
	tree = log --oneline --graph --pretty=format:'%C(red)%h %Creset%s %C(blue)%an %C(green)%ci %C(yellow)%d %Creset'
	alias = aliases config --get-regexp alias
	please = push --force-with-lease
	fap = fetch --all -p
	st = status
	cm = commit -m
	l = log -20 --pretty=format:'%C(magenta)%h%Creset - %<(24)%C(cyan)%an%Creset %C(dim red)%ar%Creset : %s' --no-merges
	lc = log -20 --pretty=format:'%C(magenta)%h%Creset - %<(24)%C(cyan)%an%Creset %C(dim red)%ar%Creset : %s %C(yellow)%d%Creset' --graph
	lb = branch -a
	uncommit = "reset --soft HEAD^"
	unstage = "reset -- ."
	co = "checkout"
	rom = "rebase origin/main"
[branch]
	sort = -committerdate
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
[diff]
	colorMoved = true
	algorithm = histogram
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	updateRefs = true
[push]
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
	autoUpdate = true
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
