
[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[[language]]
name = "html"

[[language]]
name = "css"
formatter = { command = "biome", args = ["format", "--stdin-file-path", "a.css"]}
auto-format = true

[language-server.vtsls]
command = "vtsls"
args = ["--stdio"]

[language-server.vtsls.config.typescript.preferences]
importModuleSpecifier = "non-relative"

[[language]]
name = "javascript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "typescript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "tsx"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "json"
language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]
formatter = { command = "biome", args = ["format", "--stdin-file-path", "a.json"] }
auto-format = true

[[language]]
name = "graphql"
formatter = { command = "biome", args = ["format", "--stdin-file-path", "a.graphql"] }
auto-format = true
